<div class="row grey-background">
  <div class="col-md-2">
    <%= render 'layouts/left_menu' %>
  </div>
  <div class="col-md-7">
    <div class="row">
      <div class="home-tabs col-md-12 border-bottom border-right">
        <div class="row h-100">
          <div class="col-2" style="text-align: center">
            <a class="tab-option">TWEETS</a>
          </div>
        </div>
      </div>
      <div class="col-md-12 border-right">
        <div class="post-tweet-container border rounded">
          <%= render 'opinions/new' %>
        </div>
        <div class="row post-tweet-container border rounded mb-3">
          <div class="col-12">
            <h4>Tweets</h4>
          </div>
          <br>
          <div class="col-12 border" style="height: 0; margin-top: 10px;"></div>
          <br>
          <br>
          <% @opinions.each do |o| %>
            <div class="col-md-1">
              <img src="https://ipc.digital/wp-content/uploads/2016/07/icon-user-default.png" alt="Logo" width="50">
            </div>
            <div class="col-md-11">
              <div class="row">
                <div class="col-md-12">
                  <%= o.user.full_name %>
                </div>
                <div class="col-md-12">
                  <%= o.text %>
                </div>
              </div>
              <br>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <h3>WHO TO FOLLOW</h3>
    <% @users.each do |u| %>
      <div class="row">
        <div class="col-md-2">
          <img src="https://ipc.digital/wp-content/uploads/2016/07/icon-user-default.png" alt="Logo" width="40" class="rounded-circle">
        </div>
        <div class="col-md-10">
          <%= u.full_name %>
        </div>
      </div>
      <br>
    <% end %>
  </div>
</div>
