<div class="row grey-background">
  <div class="col-md-2">
    <%= render 'layouts/left_menu' %>
  </div>
  <div class="col-md-7 border-right">
    <div class="row">
      <img src="https://9cover.com/images/ccovers/1362683987smooth-grey-abstract.jpg" alt="Cover" style='height: 100%; width: 100%; object-fit: contain'>
      <div class="home-tabs col-md-12 border-bottom">
        <div class="col-2" style="text-align: center">
          <a class="tab-option">TWEETS</a>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="row post-tweet-container border rounded mb-3">
        <div class="col-12">
          <h4 style="color: grey">Tweets</h4>
        </div>
        <br>
        <div class="col-12 border" style="height: 0; margin-top: 10px;"></div>
        <br>
        <br>
        <% @user.opinions.each do |o| %>
          <div class="col-md-1">
            <img src="https://ipc.digital/wp-content/uploads/2016/07/icon-user-default.png" alt="Logo" width="50">
          </div>
          <div class="col-md-9">
            <div class="row">
              <div class="col-md-12">
                <%= o.user.full_name %>
              </div>
              <div class="col-md-12">
                <%= o.text %>
              </div>
            </div>
            <br>
          </div>
          <div class="col-md-2">
            <% if @user == current_user %>
              <%= button_to 'Delete', opinion_path(o.id), method: :delete, class: 'btn btn-secondary' %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="row mt-3">
      <div class="col-12">
        <img src="https://ipc.digital/wp-content/uploads/2016/07/icon-user-default.png" alt="Logo" width="70" class="rounded-circle" >
      </div>
      <div class="col-12">
        <p><%= @user.full_name %></p>
        <% if following?(@user) %>
          <%= button_to 'Unfollow', following_path(id: @user.id), method: :delete, class: 'btn btn-secondary' %>
        <% elsif @user.id != current_user.id %>
          <%= button_to 'Follow', (followings_path(id: @user.id) if @user.id != current_user.id), class: 'btn btn-secondary' %>
        <% end %>
      </div>
      <div class="col-12 mt-3"></div>
      <div class="col-4">
        <%= total_tweets(@user) %>
        <p>Tweets</p>
      </div>
      <div class="col-4">
        <%= following_count(@user) %>
        <p>Following</p>
      </div>
      <div class="col-4">
        <%= followers_count(@user) %>
        <p>Followers</p>
      </div>
      <div class="col-12">
        <p>Followed by</p>
        <%= followers(@user).each do |u| %>
          <div class="row">
            <div class="col-2">
              <img src="https://ipc.digital/wp-content/uploads/2016/07/icon-user-default.png" alt="Logo" width="40" class="rounded-circle">
            </div>
            <div class="col-10">
              <%= link_to u.full_name, user_path(id: u.id) %>
            </div>
          </div>
          <br>
        <% end %>
      </div>
    </div>
  </div>
</div>
