<div class="row">
  <div class="col-md-2">
    <%= render 'layouts/left_menu' %>
  </div>
  <div class="col-md-7">
    <div class="row">
      <img src="https://9cover.com/images/ccovers/1362683990electric-blue-lines-abstract.jpg" alt="Cover" style='height: 100%; width: 100%; object-fit: contain'>
      <div class="home-tabs col-md-12">
        <div class="tab-option">
          Tweets
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="row">
      <div class="col-12">
        <img src="https://lh3.googleusercontent.com/proxy/pFGinnB19hf5synPyKJuy3VBgjDJFZmu99XbfJo2S_sO-VDfGI48lf43ymGhNY0ifPaWHJalOK0xvOPbwaH-od32iH8cgnA9yQzqH1ELq7hHvAknfQ5-KIX9Up0kXYO3lL-UxW-ijQeM8Zq2cCZQQi1CLMflimNTn_qXXg" alt="Logo" width="70" class="rounded-circle" >
      </div>
      <div class="col-12">
        <p><%= @user.full_name %></p>
        <% if following?(@user) %>
          <%= button_to 'Unfollow', followings_path(id: @user.id), method: :delete %>
        <% elsif @user.id != current_user.id %>
          <%= button_to 'Follow', followings_path(id: @user.id) if @user.id != current_user.id %>
        <% end %>
      </div>
      <div class="col-4">
        <%= total_tweets(@user) %>
        <p>Tweets</p>
      </div>
      <div class="col-4">
        <%= following(@user) %>
        <p>Following</p>
      </div>
      <div class="col-4">
        <%= followers(@user) %>
        <p>Followers</p>
      </div>
    </div>
  </div>
</div>
